.skills {
    margin: 120px 60px;
    color: white;
    &__subtitle {
        padding: 10px 0 30px 0;
    }
    &__paragra {
        margin: 10px 0 200px 0;
    }
    &__content {
        display: flex;
        flex-direction: row;
        margin: 100px auto;
        justify-content: center;
        gap: 70px;
        width: 45%;
        flex-wrap: wrap;
        align-items: center;
    }
    &__skillsubtitle {
        text-align: center;
        color: white;
        font-size: 1.5rem;
        padding: 20px 0;
    }
}
.skill-item {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease-out, transform 2s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}