@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.projectCard {
   color: whitesmoke;
   margin: 100px 0;
   display: flex;
   justify-content: center;
   gap: 16px;

   &__imageContainer {
      margin: 0;
      padding: 0;
   }
   &__image {
      border-radius: 80px;

   }
   
   &__descriptionBlog {
    padding: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;

   }
   &__title {
    font-family: vars.$font_cooki;
    color: $navbar-color;
    font-weight: normal;
    font-size: 2.3rem;
    padding: 6px 0;
   }
   &__description {
    padding: 10px 0;
   }
   &__link {
      align-self: flex-start;
      width: auto;
      font-family: vars.$font_meow;
      background-color: vars.$navbar-color;
      padding: 7px;
      padding: 10px 30px;
      border-radius: 30px;
      font-weight: bold;
      border: none;
      font-size: 2rem;
      margin: 20px 0;
      text-decoration: none;
      color: black;
   }
}