@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.skills {
    margin: 200px 100px 40px 100px;
    color: whitesmoke;
      @include mixins.respond-between(vars.$breakpoint-small, vars.$breakpoint-medium) {
  margin: 0;
}

    &__subtitle {
        font-family: vars.$font_cooki;
        color: vars.$navbar-color;
        letter-spacing: 1px;
        font-size: 3.1rem;
        font-style: italic;
        font-weight: lighter;
        padding-bottom: 10px;
      @include mixins.respond-between(vars.$breakpoint-small, vars.$breakpoint-medium) {
  margin: 50px 0 30px 0;
  text-align: center;
  padding: 0;
  font-size: 2.2rem;
}
  
    }
    
    &__paragra {
          @include mixins.respond-between(vars.$breakpoint-small, vars.$breakpoint-medium) {
               text-align: center;
       }
    }  
}
 