@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.main {
    margin: 100px 200px 0 200px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    gap: 20px;
        @include mixins.respond-between(vars.$breakpoint-tablet, vars.$breakpoint-medi) {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        }
    background-color: vars.$body-bg-color;
        img {
            max-width: 100%;
            height: 100%;
            display: block;
            
        }
            @include mixins.respond-between(vars.$breakpoint-small, vars.$breakpoint-responsiv) {
            margin: 0;
            padding: 0;
            }
        &__imageProfil-container {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;       
        }
        &__title {
            color: vars.$title-color;
            font-family: vars.$font_limelight;
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: bold;
            writing-mode: vertical-rl;  
            transform: rotate(180deg);;
            text-decoration: underline;
            @include mixins.responsive-tablet {
                display: none;
            }
        }
        &__flipcontainer{
            width: 100%;
            max-width: 400px;
            aspect-ratio: 2 / 3;
            perspective: 1000px;
            margin: auto;
        }
        &__flippimg {
            position: relative;
            width: 100%;
            padding: 10px;
            object-fit: cover;
            box-sizing: border-box;
            inset: 0;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.6s;                 
         }
        &__profilimg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            padding: 10px;
            object-fit: cover;
                  @include mixins.responsive-tablet {
               position: relative;
               inset: auto;
               width: auto;
               margin: 0 auto;
               align-items: center;
               height: auto;
               padding: 0;
             }
            @include mixins.responsive-to-small{
                width: 300px;
            }
            
        }
    // &__profilimg.front {
    //     z-index: 2;
    // }
        &__profilimg.back {
            transform: rotateY(180deg);
               @include mixins.responsive-tablet {
                display: none;
             }
        }
        &__flipcontainer {
        width: 400px;
        height: 600px;
        perspective: 1000px;
            &:hover {
                    .main__flippimg {
                        transform: rotateY(180deg);
                    }
            }
        }
        &__flippimg {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.6s;
                @include mixins.responsive-tablet {
                transform: none !important;
             }
            
        }
        &__description {
            color: whitesmoke;
            font-size: 1.3rem;
            font-family: vars.$font_radley;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            @include mixins.responsive-tablet {
                align-items: center;
                text-align: center;
                padding: 2px 0 2px 0;
            }
        }
        &__subtitlename {
            font-family: vars.$font_cooki;
            color: #F99DC2;
            font-weight: bold;
            font-size: 3.2rem;
            letter-spacing: 1;
        }
    &__subtitle {
        font-family: vars.$font_cooki;
        font-style: normal;
        color: #F99DC2;
        font-weight: lighter;
        font-size: 3.1rem;
        font-style: italic;
        letter-spacing: 1;
    }
    &__span {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__icon-container {
        display: flex;
        gap: 10px;
    }
}

.scrollDown {
  background-color: transparent;
  height: 100px;
  width: 40px;
  border: 0.2px solid whitesmoke;
  border-radius: 40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;    
  align-items: flex-start; 
  box-shadow: 0 4px 10px rgba(249, 247, 247, 0.581);  
  margin-left: auto; 
  margin-right: 90px;
  position: relative;

.circle {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: white;
  margin-top: 4px;
  text-align: center;
  line-height: 21px;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.moved {
 
  transform: translateY(50px);
  background-color: vars.$icon-bg-color;
}
}
