@use  "../../styles/variables" as vars;
@use  "../../styles/mixins" as mixins;

.socialMedia{
    width: auto;
    margin: 5px 0;
    display: flex;
    gap: 20px;
   
    &__github {
        position: relative;
        
        &::after {
            content: "github.com";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            background: black;
            color: white;
            padding: 6px 10px;
            border-radius: 6px;
            font-size: 1.2rem;
            opacity: 0;
            pointer-events: none;
            white-space: nowrap;
            transition: opacity 0.3s ease;
        }
        
        &:hover::after {
            opacity: 1;
        }
        
      }

      &__linkedin {

        position: relative;
        
        &::after {
            content: "linkedin.com";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            background: black;
            color: white;
            padding: 6px 10px;
            border-radius: 6px;
            font-size: 1.2rem;
            opacity: 0;
            pointer-events: none;
            white-space: nowrap;
            transition: opacity 0.3s ease;
        }
        
        &:hover::after {
            opacity: 1;
        }
      }
       &__link {
             border-radius: 15px;
             font-size: 12rem;
             background-color: vars.$navbar-color;
             &:hover {
                border: 4px solid black;
                box-shadow: rgba(255, 255, 255, 0.25)  0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;;
                
            }
        }

        &__linkk {
            border-radius: 20px;
            
        }
}