@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.navigation {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;

  &__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;

    @include mixins.responsive-tablet {
      flex-direction: column;
      align-items: center;
      background-color: vars.$body-bg-color;
      position: absolute;
      top: 75px;
      left: 40%;
      transform: translateX(-50%);
      width: 300px;
      max-width: 90vw;
      margin: 0;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      z-index: 1000;
      transition: max-height 0.5s ease, opacity 0.9s ease, padding 0.7s ease;
    }
  }

  &__list-item {
    padding: 10px;
    font-size: 1.6rem;
  }

  &__links {
    display: inline-block; // REQUIRED for transform
    position: relative;
    text-decoration: none;
    color: #f99dc2;

    transform-origin: left;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: currentColor;
      transition: width 0.3s ease-in-out;
    }

    // Hover effect (desktop only)
    @media (hover: hover) {
      &:hover {
        transform: scale(0.9);
      }

      &:hover::after {
        width: 100%;
      }
    }

    &--active {
      font-weight: bold;
      color: #f6cfdf;
      transform: none;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;

    @include mixins.responsive-tablet {
      display: block;
    }
  }

  &--open {
    .navigation__list {
      @include mixins.responsive-tablet {
        max-height: 600px;
        opacity: 1;
        padding: 20px;
        margin: 0;
      }
    }
  }
}
