@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.navigation {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  &__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;

    @include mixins.responsive-tablet {
      flex-direction: column;
      align-items: center;          // Center items horizontally in column mode
      background-color: vars.$body-bg-color;
      position: absolute;
      top: 75px;
      left: 40%;
      transform: translateX(-50%);
      width: 300px;
      max-width: 90vw;               // Responsive max width for smaller screens
      margin: 0;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      z-index: 1;
      transition: max-height 0.5s ease, opacity 0.9s ease, padding 0.7s ease;
    }
  }

  &__list-item {
    padding: 10px;
    font-size: 1.6rem;
  }

  &__links {
    text-decoration: none;
    color: vars.$navbar-color;
    position: relative;
    color: #f99dc2;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: currentColor;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }

    &--active {
      font-weight: bold;
      color: #f6cfdf;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;

    @include mixins.responsive-tablet {
      display: block;
    }
  }

  &--open {
    .navigation__list {
      @include mixins.responsive-tablet {
        max-height: 600px;
        opacity: 1;
        padding: 20px;
        margin: 0;
      }
    }
  }
}
