@import "../../styles/variables";
@import "../../styles/mixins";
.navigation {
  padding: 0;
  margin: 0;
  position: relative;

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 30px;

    @include responsive-tablet {
      flex-direction: column;
      background-color: $body-bg-color;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100vw;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      padding: 0;
      transition: max-height 0.5s ease, opacity 0.9s ease, padding 0.7s ease;
    }
  }

  &__list-item {
    padding: 10px;
    font-size: 1.6rem;
  }

  &__links {
    text-decoration: none;
    color: $navbar-color;
    position: relative;
    text-decoration: none;
    color: #f99dc2;
   &::after {
    content: '';
    position: absolute;
    bottom: -2px; // adjust based on spacing
    left: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
 
  &--active {
    font-weight: bold;
    color: #f6cfdf;
  }
  }

  &__burger {
    display: none;
    cursor: pointer;

    @include responsive-tablet {
      display: block;
    }
  }

  &--open {
    .navigation__list {
      @include responsive-tablet {
        max-height: 600px; 
        opacity: 1;
        padding: 20px;
        margin: 0;
      }
    }
  }
}
